<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pf.dao.mapper.AccountQrcodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pf.dao.entity.AccountQrcode" extends="com.pf.dao.mapper.BaseEntityMapper.BaseResultMap">
        <result column="ACCOUNT_ID" property="accountId" />
        <result column="QRCODE_ID" property="qrcodeId" />
        <result column="FILE_ID" property="fileId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        A.ACCOUNT_ID,
        A.QRCODE_ID,
        A.FILE_ID,
        <include refid="com.pf.dao.mapper.BaseEntityMapper.Base_Column_List" />
    </sql>
</mapper>
