<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pf.dao.mapper.ContactsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pf.dao.entity.Contacts" extends="com.pf.dao.mapper.BaseEntityMapper.BaseResultMap">
        <result column="USER_NAME" property="userName" />
        <result column="TEL" property="tel" />
        <result column="DISCODE" property="discode" />
        <result column="ADDRESS" property="address" />
        <result column="DEFAULT_USEING" property="defaultUseing" />
        <result column="CUSTOMER_ID" property="customerId" />
        <result column="COMPANY_ID" property="companyId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        A.USER_NAME,
        A.TEL,
        A.DISCODE,
        A.ADDRESS,
        A.DEFAULT_USEING,
        A.CUSTOMER_ID,
        A.COMPANY_ID,
        <include refid="com.pf.dao.mapper.BaseEntityMapper.Base_Column_List" />
    </sql>
</mapper>
